In [14]:
import numpy as np
import pandas as pd

In [30]:
data = pd.read_csv('cities.csv')
path_first = pd.read_csv('sample_submission.csv')

In [32]:
first_path=[id for id in path_first["Path"]]
index_cities=[city_id for city_id in data["CityId"]]
coord_x = [x for x in data["X"]]
coord_y =[y for y in data["Y"]]

In [33]:
first_path[1]

1

In [19]:
data

        CityId            X            Y
0            0   316.836739  2202.340707
1            1  4377.405972   336.602082
2            2  3454.158198  2820.053011
3            3  4688.099298  2935.898056
4            4  1010.696952  3236.750989
...        ...          ...          ...
197764  197764   149.828018  3134.756986
197765  197765  2615.299239  2267.979286
197766  197766  4775.889874  3103.846228
197767  197767  2994.230955  1931.764344
197768  197768  1354.764778  3218.100625

[197769 rows x 3 columns]